p {
    font-size: 24px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.header {
    padding-top: 70px;
    padding-bottom: 70px; 
    background-color: #FF5551; 
    color: #ffffff;
}
.row.content {
    height: 1500px
}
.sidenav {
    padding-top: 40px;
    background-color: #F3B391;
    height: 100%;
}
.isi_text{
    padding-left: 50px;
    padding-top: 50px;
    background-color: #FFE3D5;
    height: 100%;
}
h1{
    font-size: 40px;
}
.footer { 
    background-color: #2f2f2f;
    color: #fff;
}
table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    empty-cells: show;
    vertical-align: top;
    text-align: left;
}
.info_name{
    color: #FF5551;
    padding: 0 24px 10px 0;
}
.info_text{
    color: #ffffff;
}
.container-fluid_nav{
    padding-top: 1px;
    padding-bottom: 1px;
}

@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
}